[submodule "backend"]
	path = backend
	url = https://github.com/nh0znoisung/poly-apple-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/nh0znoisung/poly-apple-frontend.git
